.navbar-brand:hover, a:hover {

    cursor:pointer;
}

.registerContainer {

    height: 91vh;
    background: url(/imgs/negocios.jpg);
}

.loginContainer {

    height: 91vh;
    background: url(/imgs/ciudad.jpg);
}

.publishContainer {

    height: 91vh;
    background: url(/imgs/oficina.jpg);
    background-position: 25% bottom;
}

#registerForm input {

    height: 25px;
}

.form-bg {

    color: white;
}

.publishButton {

    width: 50%;
    position: relative;
    left: 25%;
}

.publishTitle {

    color: white;
    font-family: 'Roboto', sans-serif;
}

.titleSpan {

    background: black;
    border-radius: 20px;
}

.productImage {

    height: 14rem;
    width: 16rem;
}

.postImage {

    max-height: 100%;
    max-width: 100%;
}

.homeBg {

    background: #faf0e3;
}